# Environment
ASPNETCORE_ENVIRONMENT=Development   # or Production

# JWT Settings
JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_EXPIRATION_MINUTES=
JWT_REFRESH_EXPIRATION_DAYS=

# Admin user
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Connection strings
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=

QNA_DB_HOST=
QNA_DB_PORT=
QNA_DB_NAME=
QNA_DB_USER=
QNA_DB_PASSWORD=
QNA_PUBLIC_BASE_URL=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_EMAIL_EXCHANGE=
RABBITMQ_LIKE_ROUTING_KEY=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PUBLIC_ENDPOINT=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=

# Consul
CONSUL_HOST=
